# Tugas 1 - Perhitungan Jarak

## *Perhitungan Jarak*

In [ ]:
#import lybrary
import pandas as pd
import math

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/febyfadlilah/dataset/main/StudentsPerformance.csv")

In [ ]:
data

,gender,race,parental_level,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,none,72,72,74
1,female,group C,some college,completed,69,90,88
2,female,group B,master's degree,none,90,95,93
3,male,group A,associate's degree,none,47,57,44
4,male,group C,some college,none,76,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,completed,88,99,95
996,male,group C,high school,none,62,55,55
997,female,group C,high school,completed,59,71,65
998,female,group D,some college,completed,68,78,77
999,female,group D,some college,none,77,86,86

In [ ]:
# menampilkan dataset shape
no_kolom = data.shape[1]

In [ ]:
# menampilkan semua kolom pada data set
pd.set_option('display.max_columns', no_kolom)
pd.set_option('display.max_rows', no_kolom)
#menampilkan semua kolom dari dataframe
data.columns

Index(['gender', 'race', 'parental_level', 'test_preparation_course',
       'math_score', 'reading_score', 'writing_score'],
      dtype='object')

### **Menghitung Biner**

Atribut biner adalah atribut nominal dengan hanya dua kategori atau status: 0 atau 1, di mana 0 biasanya berarti atribut itu tidak ada, dan 1 berarti itu ada. Atribut Biner disebut sebagai Boolean jika dinyatakan dengan benar (true) dan salah(false

In [ ]:
data[["gender","test_preparation_course"]].head()

   gender test_preparation_course
0  female                    none
1  female               completed
2  female                    none
3    male                    none
4    male                    none

Untuk itu maka dilakukan perubahan nilai didalam atribut dengan menggantinya menjadi 0 atau 1.

In [ ]:
#code gendernya
cowo = "male"
cewe = "female"
lulus = "completed"
tdk_lulus = "none"

#nilai konversi biner
value_of_one = 1
value_of_zero = 0

def change_biner(gender):
  return value_of_one if gender == cowo else value_of_zero
def change_binertes(test_preparation_course):
  return value_of_one if test_preparation_course == lulus else value_of_zero

In [ ]:
#Update Nilai dari Gender dan Test Preparation
data['gender'] = data['gender'].apply(change_biner)
data['test_preparation_course']= data['test_preparation_course'].apply(change_binertes)

In [ ]:
data[["gender","test_preparation_course"]].head()

   gender  test_preparation_course
0       0                        0
1       0                        1
2       0                        0
3       1                        0
4       1                        0

**Menghitung Biner Simetris**

Untuk menghitung jarak biner simetris maka diperlukan rumus

---
$$Rumus: d(i,j) = \ \frac{r+s} {q+r+s+t} $$

---

$$Keterangan: $$

* r: i=1, j=0
* s: i=0, j=1 
* q: i=1, j=1
* t: i=0, j=0

In [ ]:
def binersimetris(i,j):
  q=r=s=t=0
  for col in ['gender','test_preparation_course']:
    if data[col][i]==1 and data[col][j] == 1:
      q+=1
    elif data[col][i]==1 and data[col][j]==0:
      r+=1
    elif data[col][i]==0 and data[col][j] == 1:
      s+=1
    else :
      t+=1
  return (r+s)/(q+r+s+t)

In [ ]:
binersimetris(1,2)

0.0

In [ ]:
binersimetris(1,3)

0.0

In [ ]:
binersimetris(1,4)

0.0

### **Menghitung Data Nominal**

Atribut nominal mempunyai k kategori yang tidak memiliki urutan yang berarti. Jarak antara dua objek dengan m variabel adalah yang dibandingkan. Dengan p adalah banyaknya variabel yang mempunyai atribut yang sama.

$d(i,j) = \frac{m-p}{p}$

Dimana
* m = jumlah data yang dibandingkan
* P = jumlah data sama

In [ ]:
data[["race","parental_level"]].head()

      race      parental_level
0  group B   bachelor's degree
1  group C        some college
2  group B     master's degree
3  group A  associate's degree
4  group C        some college

In [ ]:
# Menghitung jarak data Nominal
def d1(i,j):
    P = 4
    M = 0
    for col in ["race","parental_level"]:
        if data[col][i] == data[col][j]:
            M += 1

    return (P-M)/P

In [ ]:
# Menampilkan hasil perhitungan
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

1.0
1.0
0.5

### **Menghitung Data Numeric**

Atribut numerik mempunyai ciri dapat dilakukan operasi penjumlahan dan/atau pembagian. Atribut ini terdiri dari atribut interval dan rasio.

In [ ]:
data[["math_score","reading_score","writing_score"]].head()

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

In [ ]:
data.describe()

,gender,test_preparation_course,math_score,reading_score,writing_score
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,0.482000,0.358000,66.08900,69.169000,68.054000
std,0.499926,0.479652,15.16308,14.600192,15.195657
...,...,...,...,...,...
50%,0.000000,0.000000,66.00000,70.000000,69.000000
75%,1.000000,1.000000,77.00000,79.000000,79.000000
max,1.000000,1.000000,100.00000,100.000000,100.000000

Sebelum dilakukan perhitungan maka dilakukan sebuah normalisasi data dengan menggunakan

$$Rumus:z=\frac{x-Œº}{ùî°}$$

In [ ]:
#normalisasi math score
std1 = 15.16308
mean1 = 66.08900
for col1 in ['math_score']:
  data1 = data[col1]
  hasil1 = (data1-mean1)/std1
  print(hasil1)
#normalisasi reading_score
std2 = 14.600192
mean2 = 68.054000
for col2 in ['reading_score']:
  data2 = data[col2]
  hasil2 = (data2-mean2)/std2
  print(hasil2)

#normalisasi writing_score
std3 = 15.195657
mean3 = 68.054000
for col3 in ['writing_score']:
  data3 = data[col3]
  hasil3 = (data3-mean3)/std3
  print(hasil3)

0      0.389828
1      0.191979
2      1.576922
         ...
997   -0.467517
998    0.126030
999    0.719577
Name: math_score, Length: 1000, dtype: float64
0      0.270270
1      1.503131
2      1.845592
         ...
997    0.201778
998    0.681224
999    1.229162
Name: reading_score, Length: 1000, dtype: float64
0      0.391296
1      1.312612
2      1.641653
         ...
997   -0.200978
998    0.588721
999    1.180995
Name: writing_score, Length: 1000, dtype: float64

Dalam perhitungan kali ini menggunakan rumus Euclidian Distance untuk menemukan jarak pada type data numeric dengan menggunakan

$d(i,j)=\sqrt{(x1-xj1)^2 + (xi2 - xj2)^2+.....}$

In [ ]:
# Menghitung jarak Numeric dengan metode Euclidean
def d2(x,y,h):
    result = 0
    for col in [hasil1, hasil2, hasil3]:
        result = math.pow(abs(col[x] - col[y]), h)
    return result**(1/h)

In [ ]:
# Hasil perhitungan
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

0.32904138333735755
2.895564173368746
0.8555075966771294

### **Similarity**

Untuk menghitung total jarak maka diperlukan similarity terhadap semua jarak 

$Rumus:Jarak Biner+Jarak Nominal+Jarak Numeric$

In [ ]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2)+binersimetris(1,2))

1.3290413833373576

In [ ]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2)+binersimetris(1,3))

3.895564173368746

In [ ]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2)+binersimetris(1,4))

1.3555075966771293